# Node modules
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/

# Allure results
allure-results/
allure-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Env files
.env
.env.*

# VSCode settings
.vscode/

# Misc
package-lock.json

# Ignore Allure history (if used)
allure-history/
